<section class="val_index_page">   
        <div class="banner_index">
             <div class="banner_sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h1><span style="color:rgb(238, 74, 74);">Network Security</span> </h1>
                      </div>
                    </div>
                  </div>
              </div>    
        </div>

        <div class="get-info">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>What we do</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Companies are expanding day by day and for Security purpose small and large enterprises.
                        We need a reliable security system. We provide a host of services that deal with email security,
                        fraud detection and prevention, AML regulatory compliance.
                    </p>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>Examples of Integrating Apps</strong>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ul>
                    <li>Custom Google Forms with validation and email workflow</li>
                    <li>Mail Merge</li>
                    <li>Event Scheduling from Google Sites</li>
                    <li>Finance information into your spread sheet of Site </li>
                    <li>Custom charting</li>
                  </ul>
                </div>
             </div>    -->
          </div>
        </div>
</section>
