<section class="val_index_page">   
        <div class="banner_index">
             <div class="banner_sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h1><span style="color:rgb(238, 74, 74);">APPS </span> Integration</h1>
                      </div>
                    </div>
                  </div>
              </div>    
        </div>

        <div class="get-info">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>Integrate with systems using Google APIs</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Google Apps has an amazing number of products to help you get your work done but what 
                      happens when you need to move information between two Apps? For example,
                       a mail merge where you need to send an email to a list of people in a spreadsheet is not 
                       something “built into” your Google Apps. VRD’s development team helps you overcome these 
                       everyday issues by writing intuitive easy to use plugins and applications that extend your 
                       Google Apps and help you get your business running smoothly. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>Examples of Integrating Apps</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ul>
                    <li>Custom Google Forms with validation and email workflow</li>
                    <li>Mail Merge</li>
                    <li>Event Scheduling from Google Sites</li>
                    <li>Finance information into your spread sheet of Site </li>
                    <li>Custom charting</li>
                  </ul>
                </div>
             </div>   
          </div>
        </div>
</section>
