.login-btn-header {
  a {
    background-size: 11%;
    color: #ffffffc2;
    display: inline-block;
    padding: 20px 12px 20px 12px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
  
    &.login_a {
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      color: #ffffffc2;
      font-size: 18px;
      line-height: 36px;
      margin: 15px 0px;
      padding: 0 18px;
      position: relative;
      z-index: 10;
      transition: 0.8s;
    }
  
    &.login_a:hover {
      transition: all .25s ease-out;
      //background-color: #07b8de;
      color: #fff;
    }

    
  }
  
  .display_none {
    display: none !important;
  }

  .logout-user {
    .img-circle {
      float: right;
      border-radius: 70px;
      height: 38px;
      width: 38px;
      margin: 15px 0px;
      cursor: pointer;
    }

    .sub_menu_new {
      transition: all .25s ease-out;
      display: none; //keep to block to appear menu all time

      // &.srv-list {
      //   right: auto;
      //   left: 50%;
      //   box-shadow: 0 8px 10px 0;
      // }

      ul.sub-menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 999;
        position: absolute;
        background-color: white;
        box-shadow: 0 8px 6px -6px black;

        &.about_sub {
          width: 230px;
          right: -30%;
          top: 104%;
        }

        &.about_sub:before {
          left: 188px;
          top: -12px;
        }

        li {
          float: none;
          border-bottom: 1px solid #ddd;
          margin: 0;
          background-color: transparent;
          padding: 13px 0 12px 25px;
          cursor: pointer;
          font-family: 'SCSans-Light';
          font-size: 16px;
          img {
            width: 40px;
            height: 40px;
            margin-right: 18px;
            border: 2px solid #11df36;
            border-radius: 50%;
            padding: 7px;
          }
        }

        li:hover {
          background-color: rgba(0, 0, 0, 0.445);
          color: white;
        }
      }

      ul.sub-menu-list:before {
        content: "";
        border-color: transparent white;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        display: block;
        height: 0;
        width: 0;
        position: relative;
      }
    }

   
  }
  .logout-user:hover {
    .sub_menu_new {
      //transition: all .25s ease-in;
      display: block;
    }
  }

 
  
}




@media only screen and (min-width: 320px) and (max-width: 767px) {
  .login-btn-header {
    a {
      &.login_a {
        color: white;
        width: 90%;
        font-size: 10px;
        text-align: center;
        margin: 0px;
        background-color: #ff6640;
        border-color: #ff6640;
        display: block !important;
      }
    }
    
    .logout-user {
      display:none;
    }
  }
  
}
