<section class="val_index_page">   
    <div class="banner_index">
         <div class="banner_sec">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1><span style="color:rgb(238, 74, 74);">CONTACT</span> US</h1>
                  </div>
                </div>
              </div>
          </div>    
              
          <div class="container">
            <form #form="ngForm"  class="form-outer" novalidate>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="text" placeholder="Name">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="email" placeholder="Email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="number" placeholder="Phone">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field>
                    <mat-select placeholder="Service">
                      <mat-option *ngFor="let data1 of selectboxData" [value]="data1.CODE_VALUE">
                        {{ data1.CODE_DESC}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="text" placeholder="Comments and Questions">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center request-outer">
                  <a class="send_your_request" id="submitFrm" title="Send your request. We'll get back within 1 business day.">Send your request. We'll get back within 1 business day.</a>
                </div>
              </div>
            </form>
          </div>
    </div>

    <div class="get-support">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">


              <ul class="contact_detail"> 
                  <li><p class="address"><strong>Regd. Ofice:</strong>127, Vaishali Nagar , Bhopal (M.P) / India 4620016 Contact No : 0755-4272034</p></li>
                  <li><p class="address"><strong>Admin Ofice: </strong>  17 , Malviya Nagar , Bhopal (M.P) / India Contact No : 0755-4276923</p></li>
                  <li><p class="address"><strong>Bangalore :</strong>Manyata Embassy Business Park, 
                    Ground Floor, E1 Block, Beech Building,
                    Outer Ring Road, 
                    Bangalore - (Karnataka) India 560 045
                    Contact No.: 080-4276-4665. 
                    email : hr@vrdnetwork.com </p></li>  
                  <li><p class="address"><strong>Delhi:</strong> 1201, NIRMAL TOWER, Barakhamba Road,
                    New Delhi, India 110 001
                    email : contact@vrdnetwork.com8</p></li>
              </ul>







          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="map">
                <iframe class="google-map" style="margin: 0;padding: 0;border: none;height: 100%;width: 100%;" 
                src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=F2,+Udyog+Nagar,New+Delhi+-+110041&amp;aq=&amp;sll=28.681599,77.09242&amp;sspn=0.012933,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=Udyog+Nagar,+Mangolpuri,+New+Delhi,+West+Delhi,+Delhi+110041&amp;t=m&amp;z=14&amp;ll=28.682985,77.091295&amp;output=embed"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- name="" (ngSubmit)="onSubmit(form)"
                            ngModel 
                            maxlength=""
                            minlength=""
                            required="" -->