<section class="val_index_page">   
        <div class="banner_index">
             <div class="banner_sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h1>WORK-<span style="color:#9493da;">FLOW</span></h1>
                      </div>
                    </div>
                  </div>
              </div>    
        </div>

        <div class="get-info">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>Streamline Workflows to Maximize Cost and Time Savings</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Your business day is full of requests and procedures that run through a 
                        series of steps required to complete each job.
                         Even a simple process like requesting time off can become overwhelming and 
                        cumbersome when the only system in place to manage this approval process is
                        an email request and a spreadsheet to track who is asking for what and what
                        action needs to happen next. Take the work out of workflows by letting 
                        VRD NETWORK integrate Gmail, Drive, Sites and other Google Apps into a complete workflow 
                        management system.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong> Examples of VRD Built Workflow Solutions</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li>Gmail Approve/Reject Workflow</li>
                        <li>Vacation Requests </li>
                        <li>Overtime Requests </li>
                        <li>HR Requests</li>
                        <li>Service Desk Management</li>
                        <li>Customer Intake</li>
                        <li>Order Processing and Invoicing </li>
                      </ul>
                  <p>VRD NETWORK helps businesses worldwide to fully leverage workflow 
                      solutions that improve business processes. Recently highlighted in the 
                      Google Apps Developer Blog, VRD demonstrated how to replace a 
                      cumbersome and time consuming process with an easy to use compliance assurance system.
                    </p>
                </div>
             </div> 
             <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>Google Apps Integration</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p>
                            VRD really shines when it comes to plugging App Engine into the rest of 
                            your Google Apps providing solutions that work
                            for everyone in your business without the worry about the device or operating system they use.
                        </p>
                    </div>
                 </div>   
          </div>
        </div>
</section>
