<section class="val_index_page">   
    <div class="banner_index">
         <div class="banner_sec">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1><span style="color:#18c5ec;">CAREER</span></h1>
                  </div>
                </div>
              </div>
          </div> 
          
          <div class="container">
                <form #contactForm="ngForm"  class="form-outer" (ngSubmit)="onSubmit(contactForm)" novalidate>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <mat-form-field> 
                        <input matInput type="text"
                              placeholder="First Name" #firstname="ngModel" 
                              [(ngModel)]="contactModal.name"
                              name="firstname" required>
                              <mat-error *ngIf="firstname.hasError('required')">Name is required</mat-error>
                      </mat-form-field>
                      
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field> 
                                    <input matInput type="text"
                                          placeholder="Last Name" #lastname="ngModel" 
                                          [ngModel]
                                          name="lastname">
                            </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <mat-form-field> 
                        <input matInput type="number" 
                        placeholder="Phone" name="phone_no" 
                        #phone_no="ngModel" [(ngModel)]="contactModal.phone_no" 
                        pattern="^[0-9]+$" min="-9999" max="9999">
                        <!-- <mat-error *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)">I  invalid dirty and touched</mat-error> -->
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field> 
                                <input matInput type="email" 
                                        placeholder="Email" 
                                        name="email" 
                                        #email="ngModel" 
                                        [(ngModel)]="contactModal.email"
                                        pattern="^[a-zA-Z0-9_%+\-]+([a-zA-Z0-9_%+\.\-]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"  
                                        required>
                                        <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                                        <mat-error *ngIf="email.hasError('pattern')">Please enter a valid Email</mat-error>
                         </mat-form-field>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <mat-form-field > 
                            <input matInput type="text" placeholder="Address" 
                            name="other" #address="ngModel" 
                            [(ngModel)]="contactModal.other">
                          </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field > 
                                <input matInput type="text" placeholder="City" 
                                name="city" #city="ngModel" 
                                [(ngModel)]="contactModal.other">
                            </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <mat-form-field > 
                                <input matInput type="text" placeholder="State" 
                                name="state" #state="ngModel" 
                                [(ngModel)]="contactModal.other">
                              </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field > 
                                    <input matInput type="text" placeholder="Zip Code" 
                                    name="zipcode" #city="ngModel" 
                                    [(ngModel)]="contactModal.other">
                                </mat-form-field>
                        </div>
                      </div>
    
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center request-outer">
                       <input type="submit" class="send_your_request" value="Continue"/>
                    </div>
                  </div>
                </form>
          </div>
    </div>
</section>
