<section class="val_index_page">   
    <div class="banner_index">
      <div class="container"> 
        <div class="row">
          <div class="col-sm-12 col-xs-12"> 
            <div class="bnr-hdr">
              <h1 class=""><small>Careers IT Outsourcing Company For</small> <span>Offshore Software Development Services </span></h1>
              <p class="wow fadeIn   animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">We’re an Indian software development company focused on just one thing - offshore software development services. <span style="font-weight:bold;"> 13+ </span>years in business &amp; <span style="font-weight:bold;">450+</span> developers strong, we have worked with startups, software product development companies, digital agencies and enterprises to help simplify their IT outsourcing experience and reduce costs/time-to-market. </p>
              <p class="second-p"><span> Planning to outsource software development services?</span> Or would you like to hire an offshore software development team (1-25 members)?</p>
            </div> 
          </div>
        </div>
       </div>
    </div>
</section>