.val_index_page {
  float: left;
  width: 100%;
  background-image: url(../../../assets/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;

  .banner_index {
    height: 400px;
    .banner_sec{
      padding: 120px 0 30px;
      text-align: center;
      background: 0 0;
      float: left;
      width: 100%;
        h1 {
          font-size: 80px;
          line-height: 90px;
          color: #fff;
          //font-family: 'SCSans-Bold Noto-Sans';
          font-weight: 700;
          letter-spacing:1px;
        }
     } 
  }  
}