<section class="val_index_page">   
    <div class="banner_index">
         <div class="banner_sec">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1><span style="color:#18c5ec;">CAREER</span></h1>
                  </div>
                </div>
              </div>
          </div> 
          
          <div class="container">
                <form #contactForm="ngForm"  class="form-outer" (ngSubmit)="onSubmit(contactForm)" novalidate>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <span style="text-align:center"><h2>Basic Information</h2></span>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <mat-form-field> 
                        <input matInput type="text"
                              placeholder="First Name" #firstname="ngModel" 
                              [(ngModel)]="carrerModal.firstname"
                              name="firstname" required>
                              <mat-error *ngIf="firstname.hasError('required')">Name is required</mat-error>
                      </mat-form-field>
                      
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field> 
                                    <input matInput type="text"
                                          placeholder="Last Name" #lastname="ngModel" 
                                          [(ngModel)]="carrerModal.lastname"
                                          name="lastname">
                            </mat-form-field>
                    </div>
                  </div>
    
                  
    
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <mat-form-field > 
                            <input matInput type="text" placeholder="Address" 
                            name="address" #address="ngModel" 
                            [(ngModel)]="carrerModal.address">
                          </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field > 
                                <input matInput type="text" placeholder="City" 
                                name="city" #city="ngModel" 
                                [(ngModel)]="carrerModal.city">
                            </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <mat-form-field > 
                                <input matInput type="text" placeholder="State" 
                                name="state" #state="ngModel" 
                                [(ngModel)]="carrerModal.state">
                              </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field > 
                                    <input matInput type="number" placeholder="Zip Code" 
                                    name="zipcode" #zipcode="ngModel" 
                                    [(ngModel)]="carrerModal.zipcode">
                                </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <mat-form-field> 
                            <input matInput type="number" 
                            placeholder="Phone" name="phone_no" 
                            #phone_no="ngModel" [(ngModel)]="carrerModal.phone_no" 
                            pattern="^[0-9]+$" min="-9999" max="9999">
                            <!-- <mat-error *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)">I  invalid dirty and touched</mat-error> -->
                          </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field> 
                                    <input matInput type="email" 
                                            placeholder="Email" 
                                            name="email" 
                                            #email="ngModel" 
                                            [(ngModel)]="carrerModal.email"
                                            pattern="^[a-zA-Z0-9_%+\-]+([a-zA-Z0-9_%+\.\-]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"  
                                            required>
                                            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                                            <mat-error *ngIf="email.hasError('pattern')">Please enter a valid Email</mat-error>
                             </mat-form-field>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field > 
                              <input matInput type="text" placeholder="Current Location" 
                              name="currentLocation" #currentLocation="ngModel" 
                              [(ngModel)]="carrerModal.currentLocation">
                            </mat-form-field>
                         </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <mat-form-field>
                                <mat-select placeholder="Gender" name="gender" 
                                #gender="ngModel" [(ngModel)]="carrerModal.gender">
                                      <mat-option *ngFor="let data1 of genderboxData" 
                                                [value]="data1.CODE_VALUE" 
                                                 >
                                        {{ data1.CODE_DESC}}
                                      </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                      </div>
    
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center request-outer">
                       <input type="submit" class="send_your_request" value="Continue"/>
                    </div>
                  </div>
                </form>
          </div>
    </div>
</section>
