<div class="outer_layout">
  <header class="header_new" role="banner" [ngClass]="{'banner-color':bannerColorToBlack}">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-md-2">
        <a href="" title="ValueCoders">
          <!-- <img class="logo" src="https://www.valuecoders.com/common/images/logo.svg" alt="Hire Dedicated Developers - Logo"> -->
          <label class="logo">VRD Network</label>
        </a>
        <span class="mob_icon2"></span>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-10 col-md-10 d-none d-md-block">
        <ul class="menu_new">
          <li class="no_arrow"><a routerLink="" title="Home" class="home_a">Home</a></li>
          <li class="menu_arrow"><a href="" title="About us" class="about_a">About us</a></li>
          <li class="menu_arrow"><a href="javascript:void(0)" id="mob_main_service_manu" title="Services">Services</a>
            <!-- <div class=" sub_menu_new srv-list">
              <ul class="sub-menu-list services">
                <li class="first"><a href="application-development" title="Application Development" class="app-dvl">Application
                    Development</a></li>
                <li class="first"><a href="outsource-software-product-development-services" title="Software Product Development"
                    class="software-product-dvl"> Software Product Development </a></li>
                <li class="first"><a href="it-strategy-consulting-firms" title="It Strategy &amp; Consulting" class="it-strategy">
                    IT Strategy &amp; Consulting </a></li>
                <li><a href="application-maintenance" title="Application Maintenance" class="app-mnt">Application
                    Maintenance</a></li>
                <li class="last"><a href="dedicated-development-teams" title="Dedicated Development" class="ded-devlpmt">Dedicated
                    Development Teams</a></li>
              </ul>
            </div> -->
          </li>
          <li class="no_arrow"><a routerLink="careers" title="Careers" class="careers_a" routerLinkActive="active">Careers</a></li>
          <li class="menu_arrow"><a href="" title="Recruitment Solutions" class="recruitment_solution_a">Recruitment Solutions</a></li>
          <li class="no_arrow"><a href="" title="Job Board" class="job_board_a">Job Board</a></li>
          <li class="no_arrow"><a routerLink="contact" title="Contact" class="contact_a">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="index_latest_pg">
    <router-outlet></router-outlet>
  </section>
</div>
