.outer_layout {
  width: 100%;
  float: left;
  position: relative;
  

  .index_latest_pg {
    width: 100%;
    float: left;
  }

  .bottom_footer{   
    float: left;
    width: 100%;
    background: #000;
    padding: 20px 0;
    p {
      color: #b6b6b4;
      font: 400 13px/31px lato;
    }
    ul.social_sec{
      float: right;
      list-style: none;
      padding: 0;
      li{
        margin: 0 5px;
        display: inline;
        a {
            display: inline-block;
            margin: 0 0 0 6px;
            i {
              color: #444;
              font-size: 30px;
              text-align: center;
              vertical-align: middle;
            }
        }
      }
    }
   }
}
.right50 {
  right: 65%;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
  .outer_layout {
   
    .bottom_footer{   
      text-align: center;
      p {
        color: #b6b6b4;
      }
      ul.social_sec{
         float: none !important;
         padding: 0;
         //list-style: none;
      
      }
    }
   }
 }

 // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
 

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  { 
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}