<div class="outer_layout" [ngClass]="{'right50':right50}">
  <header class="header_new" role="banner" [ngClass]="{'banner-color':bannerColorToBlack}">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-md-2" [ngClass]="{'right50':right50}">
        <a href="" title="ValueCoders">
          <!-- <img class="logo" src="https://www.valuecoders.com/common/images/logo.svg" alt="Hire Dedicated Developers - Logo"> -->
          <label class="logo">VRD Network</label>
        </a>
        <span class="mob_icon2" (click)="sidebar('open')" *ngIf="!displayBlock" ></span>
        <span class="mob_cross" (click)="sidebar('close')" *ngIf="displayBlock"></span>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-10 col-md-10">
        <ul class="menu_new" [ngClass]="{'display_block':displayBlock}">
          <li class="no_arrow"><a (click)= "navigateTo('home')" title="Home" class="home_a">Home</a></li>
          <li class="menu_arrow"><a title="About us" class="about_a">About us</a>
            <div class="sub_menu_new srv-list">
                <ul class="sub-menu-list about_sub">
                  <li class="first"><pre title="Management" class="management">Management</pre></li>
                </ul>
            </div>  
          </li>
          <li class="menu_arrow"><a id="mob_main_service_manu" title="Services">Services</a>
              <div class="sub_menu_new srv-list">
                <ul class="sub-menu-list services">
                  <li class="first"><pre title="App Engine Development" class="App-Engine-Development">App Engine Development</pre></li>
                  <li class="first"><pre title="Workflow" class="Workflow">Workflow</pre></li>
                  <li class="first"><pre title="Apps Integration" class="apps-integration">Apps Integration</pre></li>
                  <li class="first"><pre title="SAP Solutions" class="sap-solutions">SAP Solutions</pre></li>
                 </ul>
              </div>
          </li>
          <li class="no_arrow"><a (click)= "navigateTo('careers')" title="Careers" class="careers_a" routerLinkActive="active">Career</a></li>
          <li class="menu_arrow"><a title="Recruitment Solutions" class="recruitment_solution_a">Recruitment Solutions</a>
            <div class="sub_menu_new srv-list">
                <ul class="sub-menu-list recruitment_sub">
                  <li class="first"><pre title="Customer Stories" class="customer-stories">Customer Stories</pre></li>
                  <li class="first"><pre title="job_board_a" class="Workflow">Job Board</pre></li>
                 </ul>
              </div>
          </li>
          <!-- <li class="no_arrow"><a href="" title="Job Board" class="job_board_a">Job Board</a></li> -->
          <li class="no_arrow"><a (click)= "navigateTo('contact')" title="Contact" class="contact_a">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="index_latest_pg">
    <router-outlet></router-outlet>
  </section>
</div>
