.outer_layout {
  width: 100%;
  float: left;
  position: relative;
  .header_new {
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all 0.2s ease-in-out;
     &.banner-color {
        background-color: #212529;
     }
    .logo {
      margin: 14px 0;
      // width: 206px;
      height: 45px;
      font-size: 25px;
      color: wheat;
    }

    .menu_new {
      display: block;
      float: right;
      margin: 0;
      transition: all .4s ease-in-out .4s;
      padding-left: 0px;
      li {
          transition: none;
          float: left;
          margin: 0 0 0 12px;
          position: relative;
          //text-transform: uppercase;
          list-style-type: none;
          letter-spacing: 1px;
          font-size: 21px;
          transition: all 0.2s ease-in-out;
          font-family: 'Noto-Sans';
          
            &.menu_arrow {
              a {
                background: url(../assets/ico_arrow_down.svg) right 12px center no-repeat rgba(0, 0, 0, 0);
                background-size: 11%;
                color: #ffffffc2;
                display: inline-block;
                padding: 20px 38px 20px 12px;
                text-decoration: none;
                cursor: pointer;
                font-size: 18px;
              }
              .sub_menu_new {
                transition: all .25s ease-out;
                display: none;  //keep to block to appear menu all time
                &.srv-list{
                  right: auto;
                  left: 50%;
                  // margin-left: -150px;
                  box-shadow: 0 8px 10px 0;
                }
                ul.sub-menu-list {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  //border-top: 7px solid #07b8de;
                  z-index: 999;
                  position: absolute;
                  background-color: white;
                  border-bottom: 5px solid #008000;
                  &.about_sub {
                    width: 235px;
                    right: -30%;
                  }
                  &.services{
                    width: 345px;
                    right: -78%;
                  }
                  &.recruitment_sub {
                    width: 290px;
                    right: 0%;
                  }
                  li {
                    float: none;
                    border-bottom: 1px solid #ddd;
                    margin: 0;
                    background-color: transparent;
                    padding: 13px 0 12px 25px;
                    cursor: pointer;
                    font-family: 'SCSans-Light';
                    font-size: 15px;
                    img {
                      width: 35px;
                      height: 34px;
                      margin-right:10px;
                      border: 1px solid #11df36;
                      border-radius: 50%;
                      padding: 7px;
                    }
                  }
                  li:hover {
                    background-color: rgba(0, 0, 0, 0.445);
                    color: white;
                  }
                }
               }
            }

            &.menu_arrow:hover {
              a{
                //transition: all .25s ease-out;
               // background-color:#008000;
               color: #fff;
              }
              .sub_menu_new {
                //transition: all .25s ease-in;
                display: block;
              }
            }


            &.no_arrow {
              a {
                  background-size: 11%;
                  color: #ffffffc2;
                  display: inline-block;
                  padding: 20px 12px 20px 12px;
                  text-decoration: none;
                  cursor: pointer;
                  font-size: 18px;
                  &.contact_a {
                    transition: all 0.2s ease-in-out;
                    background: rgba(0, 0, 0, 0);
                    border: 1px solid #ffffffc2;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    color: #ffffffc2;
                    font-size: 18px;
                    line-height: 36px;
                    margin: 15px 14px;
                    padding: 0 18px;
                    position: relative;
                    z-index: 10;
                    transition: 0.8s;
                    &:hover { 
                      background-color: #ffd740;
                      border: 1px solid #ffd740;
                      color: black;
                    }
                  }
                }
                a:hover{
                  transition: all .25s ease-out;
                  //background-color: #07b8de;
                  color: #fff;
                }
            }
        

            }

             
          .recruitment_solution_a {
            background-size: 7% !important;
           }
     } //closing menu_new


   } //closing header_new

  .index_latest_pg {
    width: 100%;
    float: left;
  }

  .bottom_footer{   
    float: left;
    width: 100%;
    background: #000;
    padding: 20px 0;
    p {
      color: #b6b6b4;
      font: 400 13px/31px lato;
    }
    ul.social_sec{
      float: right;
      list-style: none;
      padding: 0;
      li{
        margin: 0 5px;
        display: inline;
        a {
            display: inline-block;
            margin: 0 0 0 6px;
            i {
              color: #444;
              font-size: 30px;
              text-align: center;
              vertical-align: middle;
            }
        }
      }
    }
   }
}

.right50 {
  right: 65%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .outer_layout {
   .header_new {
      .logo {
        font-size: 32px;
      }
      .mob_icon2 {
            background: url(../assets/bars-solid.svg) left top rgba(0,0,0,0);
            background-size: 40%;
            cursor: pointer;
            float: right;
            padding: 20px 38px 20px 12px;
            text-decoration: none;
            background-repeat: no-repeat;
            margin: 20px 0 0;
      }
      .mob_cross {
        background: url(../assets/times-solid.svg) left top rgba(0,0,0,0);
        background-size: 40%;
        cursor: pointer;
        float: right;
        padding: 20px 38px 20px 12px;
        text-decoration: none;
        background-repeat: no-repeat;
        margin: 16px 0 0;
       }
      .display_block{
        display: block !important;
      }
      .menu_new {
        display: none;
        background-color: #fff;
        bottom: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 65%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left:0px;
        li {
          float: left;
          width: 96%;
          &.menu_arrow , &.no_arrow{
            .sub_menu_new {
              //display: none;
              &.srv-list-for-small-device-about{
                  height: 93px;
                  box-shadow: none;
                  ul.sub-menu-list {
                    border-bottom: none;
                    border-top: 2px solid black;
                      &.about_sub {
                        width: 100%;
                        right: 0%;
                        li {
                          font-size: 12px;
                          padding-left:10px; 
                          img {
                            display: none;
                          }
                        }
                      }
                  }
              }
              &.srv-list-for-small-device-services{
                height: 181px;
                box-shadow: none;
                ul.sub-menu-list {
                  border-bottom: none;
                  border-top: 2px solid black;
                    &.services{
                      width: 100%;
                      right: 0%;
                      li {
                        font-size: 12px;
                        padding-left:10px;
                        img {
                          display: none;
                        }
                      }
                    }
                 }
              }
              &.srv-list-for-small-device-recruitment{
                  height: 93px;
                  box-shadow: none;
                  ul.sub-menu-list {
                    border-bottom: none;
                    border-top: 2px solid black;
                      &.recruitment_sub {
                        width: 100% !important;
                        right: 0%;
                        li {
                          font-size: 12px;
                          padding-left:10px;
                          img {
                            display: none;
                          }
                        }
                      }
                  }
              }
             }


            a{
              color: #000;
              width: 100%;
              background-size: 8%;
              font-size: 14px;
              padding-bottom: 10px;
              &.contact_a {
                color:#000;
                width: 90%;
                font-size: 10px;
                text-align: center;
                margin-left: 0px;
                background-color: #ffd740;
                border-color:  #ffd740;
              }
            }
          }
          &.menu_arrow:hover {
            a{
              background-color: white;
              color: black;
            }
            .sub_menu_new {
              display: none;
            }
          }
         }
         .recruitment_solution_a {
          background-size: 8% !important;
        }
       }
     }
    .bottom_footer{   
      text-align: center;
      p {
        color: #b6b6b4;
      }
      ul.social_sec{
         float: none !important;
         padding: 0;
         //list-style: none;
      
      }
    }
   }
 }

 // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
  .outer_layout {
    .header_new {
      .logo {
        font-size: 24px;
      }
      .menu_new {
        li {
          transition: all 0.2s ease-in-out;
          font-size: 12px;
          &.no_arrow {
            a {
              &.contact_a {
                transition: all 0.2s ease-in-out;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
   }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  { 
  .outer_layout {
    .header_new {
      .menu_new {
        li {
          transition: all 0.2s ease-in-out;
          font-size: 15px;
          &.no_arrow {
            a {
              &.contact_a {
                transition: all 0.2s ease-in-out;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
   }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}