<section class="val_index_page">
  <div class="banner_index">
    <div class="banner_sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1><span style="color:#9493da;">CUSTOMER STORIES</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="http://www.vrdnetwork.com/_/rsrc/1388162241270/customer-stories/Sigma2.png?height=70&width=200" />
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>Customer Name :</strong><span>Sigma Aldrich </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>Employee Strength :</strong><span>9600</span>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>About the Company :</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p>Sigma-Aldrich is one of the the world's leading suppliers of research
            biochemical and organic chemicals. </p>

          <p>Sigma-Aldrich Corporation is a life science and high
            technology company with over 9,600 employees and operations
            in 40 countries Sigma and Aldrich were founded separately in 1935 and 1951, respectively, to supply
            chemicals and biochemicals to research scientists in the U.S. Both companies started with the production
            and distribution of a single proprietary chemical: Adenosine triphosphate (ATP) by Sigma and 1-methyl-3-
            nitro-1-nitrosoguanidine (MNNG) by Aldrich. For many years, the two companies grew independently,
            Sigma serving primarily biochemists and Aldrich serving organic chemists. </p>

          <p>
            When changing trends in chemical research confirmed the
            synergy to be realized from their complementary product offerings,
            Aldrich Chemical Co. merged with Sigma International, Ltd., in 1975 forming Sigma-Aldrich Corporation.
            With this marriage of broad capabilities and resources, annual double-digit growth became the standard in
            the 1980s and 1990s,
            with significant expansion in facilities, acquisitions and ventures into new market sectors.
          </p>
          <p>
            In the early 1980s, the Company focused on expansion:
            creating a new division, Sigma Diagnostics, to expand into the
            in vitro Diagnostics market, and opening several subsidiaries in France,
            Belgium, Japan, Italy, the Netherlands and Spain.
            The 1989 acquisition of Fluka, a leading manufacturer and seller of
            high quality chemical products including laboratory reagents and kits, strengthened
            this rapid expansion. The 1990s saw the creation of another division, SAF, to supply
            raw materials used in manufacturing. Designed to augment the research business,
            SAF went through an incubation period for many years as the Company further developed
            its manufacturing and supply chain capabilities. By the early 2000s, the strategy for the
            division, now known as SAFC, began to gel and Sigma-Aldrich acquired a number
            of companies to foster its growth. Since then, SAFC has grown into a business
            unit that makes up approximately one third of the Company’s revenue, providing highly specialized
            manufacturing capabilities that serve the biopharmaceutical, pharmaceutical and high technology markets.
          </p>

          <p>In addition to entering the raw materials market, Sigma-Aldrich continued to grow its research business in
            the 1990s with the acquisitions of Supelco in 1993 and Riedel-de Haen in 1997, expanding the Company’s
            analytical and chromatography capabilities. The Company emerged as a premier supplier to the research
            laboratory market and, in 2000, achieved its $1 billion sales milestone with a staff of 6,000 people in 33
            countries. In 2002, the Company sold off its diagnostics business that had only grown to $80 million and
            was no longer profitable. In 2009, Sigma-Aldrich unveiled its latest Enterprise Strategic Plan centered on
            growth in the areas of Analytical (A), Biology (B) and Chemistry (C) with a Materials Science (M) focus.
            The ABCM strategy led to the acquisitions of several technology platforms including a focus on animal
            models; increasing the Company’s presence in the Asia-Pacific and Latin America markets; and expanding into
            higher growth, applied markets through organic investment and acquisition of companies like Cerilliant and
            BioReliance.</p>
          <p>Today, Sigma-Aldrich has a broad offering of more than 167,000 chemicals (50,000 of which the Company
            manufactures) and 45,000 laboratory equipment items. We supply products to customers in 160 countries
            through our state-of-the-art distribution centers. With a committed workforce of approximately 8,300
            employees in roughly 35 countries, Sigma-Aldrich has the unrivalled scientific knowledge, unsurpassed
            service, and global reach to serve researchers and technologists and to ultimately improve quality of life</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>What they wanted to do</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li>Enable team collaboration and communication</li>
            <li>Increase productivity from their workforce </li>
            <li>Reduce the burden on the IT team</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>What we did</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li>Selected Google Apps for Business for its no-hassle, cloud-based model for email and document sharing,
              and range of collaborative features</li>
            <li>Migrated Data from Quicker to Google Drives</li>
            <li>Created enterprise application and Workflows in Google Apps Script</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
