/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: "SCSans-Regular";
    src: url("src/assets/fonts/sc-sans-web-regular.eot");
    src: url("src/assets/fonts/sc-sans-web-regular.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/sc-sans-web-regular.woff") format("woff"), url("src/assets/fonts/sc-sans-web-regular.ttf") format("truetype"), url("src/assets/fonts/sc-sans-web-regular.svg#SC Sans Regular-normal-normal") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SCSans-Bold";
    src: url("src/assets/fonts/sc-sans-web-bold.eot");
    src: url("src/assets/fonts/sc-sans-web-bold.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/sc-sans-web-bold.woff") format("woff"), url("src/assets/fonts/sc-sans-web-bold.ttf") format("truetype"), url("src/assets/fonts/sc-sans-web-bold.svg#SC Sans Bold-normal-normal") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SCSans-Light";
    src: url("src/assets/fonts/sc-sans-web-light.eot");
    src: url("src/assets/fonts/sc-sans-web-light.eot?#iefix") format("embedded-opentype"), url("src/assets/fonts/sc-sans-web-light.woff") format("woff"), url("src/assets/fonts/sc-sans-web-light.ttf") format("truetype"), url("src/assets/fonts/sc-sans-web-light.svg#SC Sans Light-normal-normal") format("svg");
    font-weight: normal;
    font-style: normal;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
