
<section class="val_index_page">
    <div class="cdk-overlay-container"  *ngIf="showSpinner">
        <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
        <div class="cdk-global-overlay-wrapper" dir="ltr" style="justify-content: center; align-items: center;">
          <div id="cdk-overlay-0" class="cdk-overlay-pane" style="max-width: 80vw; pointer-events: auto; width: 874px; height: 316px; position: static;">
            <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
            <div tabindex="0" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
            <div class="spinner-class">
                <mat-spinner [diameter]="50"></mat-spinner> 
            </div>
          </div>
        </div>
      </div>
    <div class="banner_index">
          <div class="banner_sec">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1><span style="color:rgb(238, 74, 74);">CONTACT</span> US</h1>
                  </div>
                </div>
              </div>
          </div>    
              
          <div class="container">
            <form #contactForm="ngForm"  class="form-outer" (ngSubmit)="onSubmit(contactForm)" novalidate *ngIf="showForm">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="text"
                          placeholder="Name" #name="ngModel" 
                          [(ngModel)]="contactModal.name"
                          name="name" required>
                          <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
                  </mat-form-field>
                  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="email" 
                            placeholder="Email" 
                            name="email" 
                            #email="ngModel" 
                            [(ngModel)]="contactModal.email"
                            pattern="^[a-zA-Z0-9_%+\-]+([a-zA-Z0-9_%+\.\-]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"  
                            required>
                            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                            <mat-error *ngIf="email.hasError('pattern')">Please enter a valid Email</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field> 
                    <input matInput type="number" 
                    placeholder="Phone" name="phone_no" 
                    #phone_no="ngModel" [(ngModel)]="contactModal.phone_no" 
                    pattern="^[0-9]+$" min="-9999" max="9999">
                    <!-- <mat-error *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)">I  invalid dirty and touched</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field>
                    <mat-select placeholder="Service" name="service" 
                    #service="ngModel" [(ngModel)]="contactModal.service">
                          <mat-option *ngFor="let data1 of selectboxData" 
                                    [value]="data1.CODE_VALUE" 
                                    (onSelectionChange)="onselect($event)">
                            {{ data1.CODE_DESC}}
                          </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div *ngIf="hide" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <mat-form-field > 
                        <input matInput type="text" placeholder="Other" 
                        name="other" #other="ngModel" 
                        [(ngModel)]="contactModal.other">
                      </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field>
                    <textarea matInput placeholder="Comments and Questions" 
                          name="comment" #comment="ngModel" 
                          [(ngModel)]="contactModal.comment">
                  </textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center request-outer">
                   <input type="submit" class="send_your_request" value="Send your request. We'll get back within 1 business day."/>
                </div>
              </div>
            </form>

            <div *ngIf="!showForm" class="success-msg">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="../../../assets/smile-regular.svg" style="height:100px;"/>
                        <p>Your request has been sent successfully</p>
                    </div>
                </div> 
            </div>
          </div>
    </div>

    <div class="get-support">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
              <h1><span class="here-is-how">HERE'S HOW YOU CAN LOCATE US</span></h1>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom:30px;" *ngFor = "let item of contact_address">
              <div class="contact_detail">
                  <ul> 
                      <li>
                           <p class="address"><strong>{{item.office}}:</strong></p>
                              <span>{{ item.address_line1 }}</span><br>
                              <span>{{ item.address_line2 }}</span>
                              <span *ngIf="item.address_line3 !==''"><br>{{ item.address_line3 }}</span>
                              <span *ngIf="item.address_line4 !==''"><br>{{ item.address_line4 }}</span>
                              <span *ngIf="item.contact !==''"><br>Contact No : {{ item.contact }}</span>
                              <span *ngIf="item.email_id !==''" ><br>email: {{ item.email_id }}</span>
                          
                        </li>
                  </ul>
              </div>
          </div>
         
        </div>
      </div> 
    </div>
    <div class="map">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                <div style="display:block;height: 411px;">
                    <iframe class="google-map" style="margin: 0;padding: 0;border: none;height: 100%;width: 100%;" 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.2414299173156!2d77.40197731455042!3d23.23429998484628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c4295cd2f5529%3A0xe1c8f14f1dea8f52!2s17%2C+Malviya+Nagar%2C+Bhopal%2C+Madhya+Pradesh+462011!5e0!3m2!1sen!2sin!4v1536125104698"></iframe>
                </div> 
            </div>
        </div>
    </div> 
</section>