<section class="management_page">   
        
        <div class="banner_index">        
        </div>

        <div class="leadership">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 our_leadership">
                          <p>Our Leadership</p>
                        </div>
                    </div>
            </div>
        </div>
 
        <div class="manag-board">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="manage-card">
                            <div class="card-info">
                                <p>As Director of VRD NETWORK he is responsible for VRD NETWORK's day-to-day-operations, 
                                    as well as leading the company's product development and technology strategy. 
                                    Under his leadership, VRD NETWORK has broadened its offerings while maintaining a culture of strong innovation. 
                                    His background uniquely prepares him to lead VRD NETWORK toward technological solutions that focus on users. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="manage-card">
                             <div class="card-info">
                                        <p>Oversee , implement and manage the Recruitment process of compamy.
                                             Responsible for the planning, 
                                            design and implementation of cost effective employee 
                                            benefit programs consistent with the Company’s objectives for employees.</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="manage-card">
                                <div class="card-info">
                                        <p>He is responsible for the company's marketing efforts globally. 
                                            His marketing programs focus on the go-to-market strategy and adoption of all of our products, 
                                            from consumer offerings to business services. 
                                            He is responsible for the company's Business Development activities specially in United States of America. </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

</section>